.background{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    /* justify-content: center; */
    background-image: url(/images/bg.jpg);
    background-size: cover;
}

.img_area{
    font-size:0;
}  
.img_area:after{
    display:inline-block;
    height:100%;
    content:"";
    vertical-align:middle;
}
.img_area img{
    vertical-align:middle;
}

.title_area{
    margin-top: 15%;
    color: #e4e0c4;
}

.main_title{
    text-align: center;
    font-size: 3em;
    font-family: 'Palette Mosaic', cursive;
    font-family: 'Rock 3D', cursive;
}

.sub_title{
    text-align: center;
}

.photo_area{
    width: 100%;
    display: flex;
    margin: 0 20px;
    height: 30vh;
}

.photo_area > div {
    width: 30%;
    flex-grow: 1;
}

.photo_area div {
    border: 1px solid red;
}

.gift_area{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20%;
    height: 100%;
}

.gift_lock{
    position: relative;
    font-size: 75px;
    display: inline;
    border: 1px solid red;
}

.gift_list{
    font-size: 75px;
}