.background{
}

.title_area{
    margin-top: 15%;
}

.main_title{
    text-align: center;
    font-size: 3em;
    font-family: 'Palette Mosaic', cursive;
    font-family: 'Rock 3D', cursive;
}

.sub_title{
    text-align: center;
}

.photo_area{
    display: flex;
    margin: 0 20px;
}

.photo_area > div {
    width: 30%;
  flex-grow: 1;
}

.gift_area{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20%;
    height: 100%;
}

.gift_lock{
    position: relative;
    font-size: 75px;
    display: inline;
    border: 1px solid red;
}

.gift_list{
    font-size: 75px;
}